@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
    background: black;
    padding:0;
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-brand{
    font-size: 2vw;
}

.container {
    margin-top: 60px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.container h1{
    text-align: center;
    margin-bottom: 40px;
    color: rgb(242, 235, 235);
}

.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 100%
}

img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}
.rowm{
    margin-top: 30px;
}

/* About */
.about .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
  }
  .about .icon-box {
    margin-top: 40px;
  }
  .about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #b9d4ec;
    border-radius: 50px;
    transition: 0.5s;
  }
  .about .icon-box .icon i {
    color: #428bca;
    font-size: 32px;
  }
  .about .icon-box:hover .icon {
    background: red;
    border-color: #428bca;
  }
  .about .icon-box:hover .icon i {
    color: #fff;
  }
  .about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }
 
  
  .about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 20px;
    color:white;
  }
  .about .video-box {
    background: url("/Images/pexels-polina-tankilevitch-3873179.jpg") center center no-repeat;
    background-size: cover;
    min-height: 300px;
    border-radius: 5px;
  }
  .about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  .about .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .about .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(66, 139, 202, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  .about .play-btn:hover::after {
    border-left: 15px solid #428bca;
    transform: scale(20);
  }
  .about .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
/* Count Section */
.counts {
    padding: 80px 0 60px 0;
  }
  .counts h1{
      text-align: center;
      color: white;
      margin-bottom:50px;
  }
  .counts .counters span {
    font-size: 4vw;
    display: block;
    color: red;
    font-weight: 700;
  }
  .counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 30px;
    font-weight: 500;
    color:white;
  }

  /* End */

  .container {
    overflow: auto
}

.cards {
    overflow: auto;
    min-height: 550px
}

.card {
    background: #3a3a3a;
    background: linear-gradient(to right, #474747, #222);
    min-width: 300px;
    height: 380px;
    border-radius: 10px;
    box-shadow: -5px 5px 25px #0000009d;
    padding: 20px;
    border: none;
    transition: all .3s ease-in-out
}

.card .text-grey {
    color: #ccc;
    font-weight: 500
}

.card .light-grey {
    color: #aaa;
    font-weight: 300
}

.card .fs-5 {
    font-size: 1.15rem !important
}

.card a {
    color: #fff;
    text-decoration: none
}

.card .profile img {
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 15px rgba(26, 25, 25, 0.329);
    object-fit: cover;
    border-radius: 50%
}

.card:not(:first-child) {
    margin-left: -8rem
}

.cards::-webkit-scrollbar {
    height: 10px
}

.cards::-webkit-scrollbar-track {
    background: inherit
}

.cards::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    background: linear-gradient(to right, #ff002b, #002fff);
    border-radius: 10px
}

.card:hover,
.card:focus-within {
    transform: translateY(-1rem) rotateZ(5deg)
}

.card:hover~.card,
.card:focus-within~.card {
    transform: translateX(8rem)
}

.card .designation {
    display: inline;
    border-radius: 10px;
    padding: 4px 10px;
    border: 1px solid #ddd
}
/* vaccine */
.container {
    transform-style: preserve-3d
}

.container .box {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer
}

.container .box .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease
}

.container .box .body .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d
}

.container .box .body .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.container .box .body .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg)
}

.container .box:hover .body {
    transform: rotateY(180deg)
}

.container .box .body .content div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #FE0061, #FFEB3B);
    transform: translateZ(100px)
}

.container .box .body .content div h3 {
    letter-spacing: 1px
}
/* END */

/* footer */
.copyright-box p{
color: white;
text-align: center;
}
.credits p{
    color: white;
    text-align: center;
    }
  /* End of footer */
/* Back to top */
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  /* End */